// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)


$primary: #a88b32 ;
$secondary: #152941;
$dark:#041398;




@import "../node_modules/bootstrap/scss/bootstrap";




// Then add additional custom code here