@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';


html {
    position: relative;
    min-height: 100%;
}


footer {
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $secondary;
}

.main {
    margin-bottom: 5775px;
}


.SendContact {
    display: flex;
    justify-content: center;
}